body {
  margin: 0;
  background-color: #fdfaf5;
  font-family: 'Georgia', serif;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

/* home page */
.home-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
/* other pages */
.page-wrapper {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 24px;
}
.container {
  position: relative;
  max-width: 1152px;
  height: 768px;
}

.container img {
  width: 1152px;
  height: 768px;
  display: block;
  border: 2px solid #e0ddd7;
  border-radius: 10px;
}
.hotspot {
  transition: all 0.2s ease;
}

.hotspot:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.05); /* subtle glow */
  cursor: pointer;
}
