body {
  margin: 0;
  background-color: #fdfaf5;
  font-family: 'Georgia', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
}

.container img {
  width: 1152px;
  height: 768px;
  display: block;
  border: 2px solid #e0ddd7;
  border-radius: 10px;
}
