body {
    margin: 0;
    background-color: #fdfaf5;
    font-family: 'Georgia', serif;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    max-width: 90vw;
    height: auto;
    border: 2px solid #e0ddd7;
    border-radius: 10px;
  }
  